<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="MyntraSuite">

    <test name="HomePageTest">

        <classes>

            <class name="com.myntra.tests.HomePageTests"/>
            <class name="com.myntra.tests.SearchFunctionalityTests"/>
             
             

        </classes>

    </test>
    
</suite>
